.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: 80px; 
    height: auto;
    margin-right: 10px;
}
.getbutton {
    margin-left: 10px; 

@media (max-width: 768px) {
    .logo {
        width: 40px; 
    }
}
}